<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealEstateMVC</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <header>
        <!--banner-->
        <a href="@Url.Action("Index", "Home")">
            <img src="@Url.Content("~/Images/real-estate-banner-1.jpg")" style="width: 100%" />
        </a>
        <!--nav bar-->
        <nav>
            <div class="container">
                <ul style="list-style-type: none; padding: 0; margin: 0;">
                    <li style="display:inline-block;" class="col-1"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li style="display:inline-block;" class="col-1"><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                    <li style="display:inline-block;" class="col-1"><a asp-controller="Schedule" asp-action="Index">Schedule</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!--main content-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--footer-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RealEstateMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $("#txtAddress").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Admin/AutoComplete',
                        type: 'POST',
                        cache: false,
                        data: request,
                        dataType: 'json',
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    street_line: date.street_line,
                                    city: data.city,
                                    state: data.state,
                                    zipcode: data.zipcode
                                }
                            }))
                        }
                    });
                },
                minLength: 3,
                select: function (event, ui) {
                    $('#txtAddress').val(ui.item.street_line);
                    $('#txtCity').val(ui.item.city);
                    $('#txtState').val(ui.item.state);
                    $('#txtZip').val(ui.item.zip);
                    return false;
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
