@model RealEstateMVC.Models.HouseListViewModel

@{
    Layout = "~/Views/Shared/_LayoutHouseList.cshtml";
    ViewData["Title"] = "Index";
}

@section h1
{
<h1>Admin</h1>
}

<a asp-controller="Admin" asp-action="Create">Create New</a>
