@model RealEstateMVC.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Houses</h1>

<div class="container">
    <form asp-action="Index" method="get">
        <!--Select list for counties-->
        Counties:
        <select name="county" asp-items="Model.County">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </form>
    <br />
    @foreach(HouseViewModel houseVM in Model.Houses)
    {
        <div>
            <a asp-action="Details" asp-route-id="@houseVM.house.Id">
                <img width="400" src="@houseVM.Images[0].ImageDataUrl" />
            </a><br />
            <label>Price: </label> @Html.DisplayFor(modelItem => houseVM.house.Price) <br />
            <label>Address: </label> @Html.DisplayFor(modelItem => houseVM.house.Address)
        </div>
    }
</div>